:root {
  --primary_background: hsl(220, 20%, 20%);
  --primary_foreground: hsl(197, 30%, 70%);
  --link_foreground: hsl(220, 80%, 80%);
  --selection_background: hsla(220, 80%, 80%, 0.2);
  --red: hsl(329, 75%, 65%);
  --yellow: hsl(34, 75%, 65%);
  --grnee: hsl(76, 75%, 65%);
  --cyan: hsl(165, 75%, 65%);
  --blue: hsl(231, 75%, 65%);
  --magenta: hsl(268, 75%, 65%);
  --red_bright: hsl(329, 95%, 80%);
  --yellow_bright: hsl(34, 95%, 80%);
  --grnee_bright: hsl(76, 95%, 80%);
  --cyan_bright: hsl(165, 95%, 80%);
  --blue_bright: hsl(231, 95%, 80%);
  --magenta_bright: hsl(268, 95%, 80%);
}

::selection {
  background-color: var(--selection_background);
}

html {
  background-color: var(--primary_background);
  color: var(--primary_foreground);
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic",
    "Meiryo", sans-serif;
}

a {
  color: var(--link_foreground);
}

.red {
  color: var(--red);
}
.yellow {
  color: var(--yellow);
}
.grnee {
  color: var(--grnee);
}
.cyan {
  color: var(--cyan);
}
.blue {
  color: var(--blue);
}
.magenta {
  color: var(--magenta);
}
.red_bright {
  color: var(--red_bright);
}
.yellow_bright {
  color: var(--yellow_bright);
}
.grnee_bright {
  color: var(--grnee_bright);
}
.cyan_bright {
  color: var(--cyan_bright);
}
.blue_bright {
  color: var(--blue_bright);
}
.magenta_bright {
  color: var(--magenta_bright);
}
