:root {
  --primary_background: #2d3043;
  --primary_foreground: #bab5c0;

  --link_foreground: #4d9aff;
  --selection_background: #4d3455;

  --blue_bright: #668dfa;
  --blue: #4d9aff;
  --cyan_bright: #0da6de;
  --cyan: #39dbdb;
  --grnee_bright: #daff47;
  --grnee: #9fc729;
  --magenta_bright: #dc8bdf;
  --magenta: #9c70f5;
  --red_bright: #c93b82;
  --red: #f84f9e;
  --yellow_bright: #ff9b29;
  --yellow: #e4b72f;
}

::selection {
  background-color: var(--selection_background);
}

html {
  background-color: var(--primary_background);
  color: var(--primary_foreground);
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic",
    "Meiryo", sans-serif;
}

a {
  color: var(--link_foreground);
}

.blue { color: var(--blue); }
.blue_bright { color: var(--blue_bright); }
.cyan { color: var(--cyan); }
.cyan_bright { color: var(--cyan_bright); }
.grnee { color: var(--grnee); }
.grnee_bright { color: var(--grnee_bright); }
.magenta { color: var(--magenta); }
.magenta_bright { color: var(--magenta_bright); }
.red { color: var(--red); }
.red_bright { color: var(--red_bright); }
.yellow { color: var(--yellow); }
.yellow_bright { color: var(--yellow_bright); }
